<a href="https://colab.research.google.com/github/akshaykumar34/python-programs/blob/main/py_for_begineers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
8/9
format(8/9,".3f")

'0.889'

In [ ]:
#to know more about keywords type below code keywords in cmd py 
help =('Keywords')
print(help)

Keywords

In [ ]:
marks=int(input("enter marks")) #if else operation
if marks>=35:
  print("pass")
else:
  print("fail")

enter marks100
pass

In [ ]:
#for loop
for letter in "python":
    print("character",letter)

character p
character y
character t
character h
character o
character n

In [ ]:
for letter in (20,30,40,50): #for loop
    if letter >=25:
      print(letter,"greater")
    else:
      print(letter,"lesser")

20 lesser
30 greater
40 greater
50 greater

In [ ]:
count=1 #example of while loop
while count <=5:
  print(count)
  count=count+1
  
print("good bye")

1
2
3
4
5
good bye

In [ ]:
ak =["stylish","royal","dignity"] #example for list
print(ak)

['stylish', 'royal', 'dignity']

In [ ]:
list1=[20,30,40,50] #list using append operation
list1.append(510)
print(list1)

[20, 30, 40, 50, 510]

In [ ]:
akshay=[20,50,80,48] #list
akshay.sort()
print("sorted elements are:",akshay)

sorted elements are: [20, 48, 50, 80]

In [ ]:
fruits=["banana","apple","guva"]
fruits[1]="grapes" #replaced operation
print(fruits,"replaced operation")
fruits.insert(1,"blackberry")#insert operation
print(fruits,"insert")
fruits.append("greenapple")#append operation
print(fruits,"append operation")
del fruits[2]
print(fruits,"delete operation")#delete operation
fruits.reverse()
print(fruits,"reverse operation") #reverse operation

['banana', 'grapes', 'guva'] replaced operation
['banana', 'blackberry', 'grapes', 'guva'] insert
['banana', 'blackberry', 'grapes', 'guva', 'greenapple'] append operation
['banana', 'blackberry', 'guva', 'greenapple'] delete operation
['greenapple', 'guva', 'blackberry', 'banana'] reverse operation

In [ ]:
name="akshay"
list=[20,30,40,50]
tuple=(20,10,50,40,30)
s="hi raj"
print(name+s)#concatenation

akshayhi raj

In [ ]:
for x in range(1,11):#for loop
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
sum =lambda a,b:a+b #sum of two numbers using lambda
a=int(input("enter a="))
b=int(input("enter b="))
print(sum(a,b))

enter a=2
enter b=2
4

In [ ]:
str ="Hello welcome to my world" #string

str.upper()

'HELLO WELCOME TO MY WORLD'

In [ ]:
str="hello welcome to world"
str.replace('world','aks')
str1='123456'
str1.isdigit()

True

Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered.

In [ ]:
temp={}
temp['sun']=30 #dictionaries
temp['Mon']=40
temp['tue']=50
print(temp)

{'sun': 30, 'Mon': 40, 'tue': 50}

In [ ]:
mail={'akshay':'akshay@gmail.com','abhi':'abhi@gmail.com'}
mail.keys()
#{key:value,key:value}syntax of dictionaries

dict_keys(['akshay', 'abhi'])